/*======================================================*/
/*Margin of table*/
.fc .fc-toolbar.fc-header-toolbar{
    margin-bottom: 0.5rem !important;
}
/*======================================================*/

/*======================================================*/
/*Round Borders*/
.fc .fc-scrollgrid-liquid {
    border-radius: 10px;
}
.columnheader:last-child{
    border-radius: 10px;
    background: pink;
} 
.fc-scrollgrid-section-header th:first-child{
    border-top-right-radius: 10px;
}
/*End Round Borders*/
/*======================================================*/

/*Name weeks text*/
.fc-col-header-cell-cushion{
    text-decoration: none;
    color: #2c3e50;
}
/*Number of day*/
.fc .fc-daygrid-day-number{
    text-decoration: none;
    color: #2c3e50;
}